/* General */
* {
  font-family: 'poppins' !important;

  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}


header {

  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;

}


.masck-header {
  /* background: #2a044a; */
  background: rgb(33, 36, 72);
  background: linear-gradient(184deg, rgb(43, 47, 83) 45%, rgba(1, 1, 1, 1) 100%);
  border-radius: 0 0 0 134px;
  height: 74px;
  max-width: 1420px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;
  box-shadow: -2px 2px 20px #4a4747;
}


.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background: #2a044a;
  border: 2px solid #2a044a;

}

.btn-primary:hover {
  background: #7ab317;
  border: 2px solid #7ab317;
}

.msg {
  background: #7ab317;
  color: white;
  border: 1px solid #2a044a;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 1em;
}


/* Estilo da Nav */

#navbar img {
  width: 10vh;
}

#navbar {
  justify-content: flex-end;
  margin: 0 70px;
  z-index: 10;
}

#navbar a {
  font-size: 16px;
  color: #6c788e;
  font-weight: 700;
  white-space: 1px;

}

#navbar a:hover {
  color: #ffffff;
}

/* seach Container */
#search-container {
  background-image: url("../img/canetapapel.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  padding: 112px 0 50px;
  text-align: center;
}



#search-container h1 {
  color: #FFFF;
  font-weight: 700;
  margin-bottom: 1.5em;
  filter: drop-shadow(8px 8px 4px black);
  font-size: 48px;
}


#search-container form {
  width: 50%;
  margin: 0 auto;
}

/* lista de eventos */

#events-container {
  padding: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

#events-container h2 {
  color: #4b4d4e;
  font-weight: 600;
  font-size: 42px;
  text-align: center;
}

#events-container .subtitle {
  color: #18191a;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

#cards-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#cards-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;

}

#cards-container img {
  max-height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 14px;
  color: #919090;

}

.card .card-title {
  font-size: 20px;
  color: #0c0115;
  font-weight: 700;
  margin-bottom: 20px;
}


.card .card-participants {
  font-size: 16px;
  color: #757575;

}

/* event Create */
#event-create-container {
  margin-top: 160px;
}

#event-create-container label {
  font-weight: 700;
  margin: 1rem 0;
}



/* event Page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
  object-fit: cover;
}

.show-events {
  max-width: 1400px;
  margin: 100px auto 0;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #2a044a;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

/* _______________ */
footer {
  text-align: center;
  background: #2a044a;
  color: #FFFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

footer p {
  margin-bottom: 0;
}

/* responsive default screens 1201 x 1500 */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .masck-header {
    max-width: 1220px;

  }
}